* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
	justify-content: center;
	align-items: center;

    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;

    background: lightgray;
    border: 1px solid black;
    width: 1100px;
    
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:red;
    color: white;
    margin: 0px auto;
    height: 100px;
    width: 100%;
    font-size: calc(0.75em + 1vmin);
}
.header-container h1 {
    font-size: 2em;
}

.nav-container {
    display: flex;

    background: rgb(81, 50, 182);
    border-bottom: 1px solid black;
    height: 50px;
    margin-top: 15px;
}
.nav-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.nav-container li {
    list-style: none;
    font-size: calc(0.75em + 1vmin);
    padding-left: 20px;
}
.nav-container li:first-child {
    padding-left: 10px;
}
.nav-container ul li a {
    color: #eee;
}

.main-content-container {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    
    margin-top: 15px;
    /*border: 4px solid rgb(221, 14, 169);*/
}
@media (max-device-width: 472px) { /*max-device-width para responsive mobile device*/
    .main-content-container {
        display: flex;
        flex-wrap: wrap-reverse;

        margin-top: 15px;

    }
}
@media (max-width: 472px) { /*max-width para responsive desktop device*/
    .main-content-container {
        display: flex;
        flex-wrap: wrap-reverse;

        margin-top: 15px;

    }
}

.main-section-info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 866.172px; /* flex-grow: 1; */ /* Con esta "flex-grow" rompe cuando crece el contenido horizontalmente */
                            /* width: 866.172px; */ /* Con esta "width" rompe cuando crece el contenido horizontalmente */

    background: green;
    min-height: 500px; /* Si se usa solo la propiedad "height" entonces se limita a 500px y si el contenido sigue 
    aumentando el container "green" no va a aumentar proporcionalmete al contenido en cambio con "min-height" unicamente 
    le decimos que el container "green" tenga como inicio minimo 500px aunque no tenga contenido dentro   */
    
    /*border: 3px solid rgb(6, 10, 247);*/
}
.section-info-container {
    display: flex;
    flex-direction: column;
    
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 95%;
    /*border: 4px solid rgb(1, 255, 179);*/
}
.section-info-container article {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    /*font-size: calc(0.75em + 1vmin); CUIDADO ACÁ PORQUE ROMPE EN ESTE CASO*/
}
.section-info-container article:first-child {
    border-top: 1px solid #eee;
    padding-top: 25px;
    margin-top: 20px;
}
.aside-container {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;

    background: orange;
    font-size: calc(0.75em + 1vmin);
    padding: 15px;
    /*border: 3px solid rgb(31, 231, 221);*/
}
.aside-form {
    display: flex;
    flex-direction: column;
}

/*Importante*/
@media (max-device-width: 472px) { /*max-device-width para responsive mobile device*/
    .aside-container {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}
@media (max-width: 472px) { /*max-width para responsive desktop device*/
    .aside-container {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}
/*Importante*/

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: black;
    color: white;
    margin-top: 15px;
    height: 50px;
}